<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
    <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/slideshow1-2.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">Winter Collection Sale </span>
              <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-3.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">up to 70% off</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Classic</span> Style</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-1.jpg'); background-position:50%;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">Trendy dress</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Winter </span>Collection</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  
  <section class="section products-main">
      <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="title text-center">
                        <h2>New arrivals</h2>
                        <p>The best Online sales to shop these weekend</p>
                    </div>
                </div>
            </div>
    
    
        <div class="row">
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let producto of productos">
              <div class="product">
                <div class="product-wrap">
                    <a [routerLink]="['/product-single', producto.id]"><img class="img-fluid w-100 mb-3 img-first" src='{{producto.imgFirst}}' alt="product-img" /></a>
                    <a [routerLink]="['/product-single', producto.id]"><img class="img-fluid w-100 mb-3 img-second" src='{{producto.imgSecond}}' alt="product-img" /></a>
                </div>
    
                <span class="onsale">Sale</span>
                <div class="product-hover-overlay">
                    <a [routerLink]="['/cart', producto.id]"><i class="tf-ion-android-cart"></i></a>
                    <a [routerLink]="['/404']"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a [routerLink]="['/product-single', producto.id]">{{producto.nombre}}</a></h2>
                    <span class="price">
                        ${{producto.precioRebajado}}
                    </span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /portfolio -->
  
    <section class="ads section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 offset-lg-6">
          <div class="ads-content">
            <span class="h5 deal">Deal of the day 50% Off</span>
            <h2 class="mt-3 text-white">Trendy Suit</h2>
            <p class="text-md mt-3 text-white">Hurry up! Limited time offer.Grab ot now!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  